/** @format */

.Box-Container {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .Box-Container {
    width: 100%;
    max-width: 600px;
  }
}
