/** @format */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}
h1,
h2,
h3 {
  margin: 22px auto;
  width: fit-content;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 8px;
  width: 100%;
}
