/** @format */

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px auto;
  gap: 16px;
}
.flex-row > label {
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  color: #555;
  margin-bottom: 15px;
  gap: 16px;
}

label {
  color: #555;
  font-size: 14px;
}

.combo-input{
  display: flex;
  gap: 14px;
  justify-content: center; align-items: center;
}